/* CSS Document */
@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
    font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size:12px;
}

/* ===================================
    clearfix
=================================== */
.clearfix:after {
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:".";
}
.clearfix {
	min-height: 1px;
}
* html .clearfix {
	height: 1px;
	height: auto;
	overflow: hidden;
}

.c_both{
    clear: both;
}
/* ===================================
    åˆæœŸåŒ–
=================================== */
body{
    -webkit-overflow-scrolling: touch;
    padding-bottom: 100px;
}

html, body{
    text-shadow: none !important;
}

.ui-content{
    margin-bottom: 70px;
}
/* ===================================
    header
=================================== */
header{
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF !important;
}

header .logo{
    width: 54%;
    margin: 0 1% 0 0;
    float: left;
    padding-left: 2%;
    padding-top: 2px;
}

header .logo img{
    width: 100%;
}

header .head_text{
    width: 40%;
    font-size:100%;
    text-align: right;
    float: right;
    color: #BB0104;
    padding-right: 2%;
    vertical-align: middle;
}

/* ===================================
    footer
=================================== */

footer{
    margin: 0 0 0 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer#footer{
    position: fixed !important;
    z-index: 9;
}

i.fa{
    font-size: 25px;
}

.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
}

#footer table td,
#footer table td a{
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
}

.drawer-toggle{
    padding: 0;
    width: 100%;
}

body.drawer.drawer--right {
    margin: 0 !important;
}


/* ===================================
    respon
=================================== */
.response_area{
    width: 100%;
    margin: 0 0 5px;
    padding: 0;
}

.respon a{
    width: 49%;
    padding: 14px 0;
    text-align: center;
    color: #FFF !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}

.respon a.phone{
    float: left;
    background-color: #109C1E;
}

.respon a.mail{
    float: right;
    background-color: #900;
}

.respon i{
    font-size: 12px;
    text-shadow: none;
}

.respon i::after{
    content: "ã€€";
}

/* ===================================
    home
=================================== */
#home{
}

#home_body{
    width: 94%;
    margin: 0 auto;
}

ul.accordion{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

ul.accordion p{
    color: #FFF !important;
    text-shadow: none;	
    color: white;
	cursor: pointer;
	padding: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

ul.accordion a {
}
ul.accordion span { display:block; padding:5px; background-position:97% center; background-repeat:no-repeat; color:#FFF; font-weight:bold;}
ul.accordion ul { display:none;}
ul.accordion > li { width: 100%;}
ul.accordion > li > p {
	border-bottom: solid 1px white;
    background: rgb(254,204,177); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
}
ul.accordion > li > p span { background-image:url(../img/open.png);}
ul.accordion > li > p span.open { background-image:url(../img/close.png);}
ul.accordion > li > ul { margin: 0; padding: 0;} 
ul.accordion > li > ul > li { 
    list-style: none; 
    width: -webkit-calc( 100% - 2px );
    margin: 0;
    padding: 0;
}
ul.accordion > li > ul > li > p {
    margin: 0;
    padding: 0;
    width: 100%;
}
ul.accordion > li > ul > li > a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: .5em 0;
    margin: .1em 0;
    background-color: #EEE;
    display: block;
}


#diff{
    width: 100%;
    background-color: #DDD;
    margin: 0;
    padding: 0;
}

#diff_title h3{
    background-color: #000;
    color: #FFFFFF;
    text-align: center;
}

#diff_con{
    padding: 1%;
}

.diff_boxL,
.diff_boxR{
    width: 46%;
    height: 34vh;
    font-size: 13px;
    margin: 1%;
}

.diff_boxL{
    float: left;
    background-color: #FFFFFF;
    padding: 1%;
}

.diff_boxR{
    float: right;
    background-color: #FFFFFF;
    padding: 1%;
}

.diff_boxL img,
.diff_boxR img{
    width: 100%;
}

.cap_text{
    font-size: 10px !important;
    margin-top: 10px !important;
}

#FAQ{
    width: -webkit-calc( 100% - 1em );
    margin: 10px 0;
    padding: .5em;
    background-color: #BFE3F3;
    text-align: center;
}

#FAQ h3{
    background-color: #ffd900;
    color: #1A1602;
    display: inline-block;
    padding: .8em 1.5em;
    border-radius: 20px;        /* CSS3è‰æ¡ˆ */  
    -webkit-border-radius: 20px;    /* Safari,Google Chromeç”¨ */  
    -moz-border-radius: 20px;   /* Firefoxç”¨ */
    width: -webkit-calc( 60% - 40px );
    margin: 1em auto;
}


dl.accordion01 { width:100%; margin:0 auto; padding: 0; font-size:14px;}
dl.accordion01 dt {
    width: 100%;
    background: #FBED9E;    
    padding: 1em 0;
    color: #333333;
    text-align: center;
    border-bottom: #BFE3F3 solid 2px;
    }
dl.accordion01 dt:last-child{
    border-bottom: none;
}    
dl.accordion01 dt.open {
    width: 100%;
    background-color: #F7F0C6;
    color: #333333;
    padding: 1em 0;
    }
dl.accordion01 dd { background:#FFF; padding: 0; line-height:1.5; display:none; margin: 0;}
dl.accordion01 dd ul{
    margin: 0;
    padding: 0;
}
dl.accordion01 dd ul li{
    margin: 0;
    padding: 5px;
    list-style: none;
    width: -webkit-calc( 100% - 10px );
    text-align: left;
    border-bottom: solid 2px #DDD;
    height: 3em;
}
dl.accordion01 dd ul li a{
    text-decoration: none;
    display: block;
    color: #333;
}


.sidebar_area{
    width: 96%;
    margin: 0 auto;
    padding: 0;
}

.sidebar_area .Lbox{
    width: 49%;
    float: left;
    margin: 0 auto 1%;
    padding: 0;
}
.sidebar_area .Rbox{
    width: 49%;
    float: right;
    margin: 0 auto 1%;
    padding: 0;
}
.sidebar_area img{
    width: 100%;
}

.c_voice img{
    width: calc(100% - 6px);
    border: solid 3px #04122C !important;
    border-radius: 10px;        /* CSS3è‰æ¡ˆ */  
    -webkit-border-radius: 10px;    /* Safari,Google Chromeç”¨ */  
    -moz-border-radius: 10px;   /* Firefoxç”¨ */  
}


nav.drawer-nav.drawer-open.drawer-nav{
    margin: 0;
    padding: 0;
    width: 100%;
}

.drawer-nav ul{
    width: 100%;
    margin: 0;
    padding: 0;
}

.drawer-nav ul li.menu_ttl{
    width: -webkit-calc( 100% - 1em);
    margin: 0;
    padding: 1em 0 1em 1em;
    font-size: 14px;
    color: #FFF;
    text-align: center;
}

.drawer-nav ul li{
    width: 96%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    padding-left: 4%;
    border-bottom: solid 1px #CCC;
}

.menu_ttl{
    background-color: #666;
    color: #FFF;
}

.drawer-nav ul li a{
    width: 100%;
    margin: 0;
    padding: 8px 0;
    font-size: 14px;
    text-decoration: none;
    display: block;
    color: #222;
}

.drawer-close nav.drawer-nav {
    width: 16.25rem;
}

.drawer-open nav.drawer-nav {
    width: 24rem;
}




.plus180418 .respon a.phone{
    background-color: #FFFFFF;
}

.plus180418 .respon a.mail{
    background-color: #FFFFFF;
}

.plus180418 .respon a{
    padding: 0;
}

.plus180418{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

/* -- ãƒ—ãƒ­ãƒ€ã‚¯ãƒˆåˆ¥ãƒœã‚¿ãƒ³ -- */
.product_set h3{
  color: #000000;
  font-size: 1.6rem;
  text-align: center;
  background: rgb(233,157,2);
  background: linear-gradient(351deg, rgba(233,157,2,1) 2%, rgba(255,217,0,1) 49%, rgba(253,217,0,0.9472163865546218) 100%);  border-top: #F98606 solid 2px;
  border-bottom: #F98606 solid 2px;
  margin: .3rem 0 .2rem;
  padding: .7rem 0;
  box-sizing: border-box;
  font-weight: normal;
}

.product_btns{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product_btns .pro_btn{
  width: 32.2%;
  margin:.5%;
  box-sizing: border-box;
  text-align: center;
}

.product_btns .pro_btn button{
  border: solid 1px #ccc;
  box-sizing: border-box;
  border-radius: 5px;        /* CSS3è‰æ¡ˆ */  
  -webkit-border-radius: 5px;    /* Safari,Google Chromeç”¨ */  
  -moz-border-radius: 5px;   /* Firefoxç”¨ */
  margin: .5rem 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.product_btns .pro_btn button img{
  width: 100%;
  height: auto;
}

.product_btns .pro_btn p{
  color: #fff;
  text-align: center;
  padding: 2px 0;
  margin: 0;
  background-color: #000;
}

.pickup
{
  width: 100%;
  padding: 1rem .3rem .7rem;
  margin: .2rem 0 .5rem;
  display: flex;
  justify-content: space-around;
  border: solid 4px #CF0306;
  border-radius: 10px;        /* CSS3è‰æ¡ˆ */  
  -webkit-border-radius: 10px;    /* Safari,Google Chromeç”¨ */  
  -moz-border-radius: 10px;   /* Firefoxç”¨ */ 
  box-sizing: border-box;
}

.pickup .pickup_contents{
  width: 48%;
  text-align: center;
}

.pickup .pickup_contents span{
  margin: 0;
  padding: .2rem .5rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #CF0306;
}

.pickup .pickup_contents a img{
  width: 100%;
  height: auto;
  border: solid 1px #333;
  box-sizing: border-box;
}